<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sistr.kaskelotti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <provider
            android:authorities="com.sistr.kaskelotti.provider"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="false"
            android:icon="@mipmap/ic_launcher"
            android:initOrder="0"
            android:label="@string/app_name"
            android:multiprocess="true"
            android:name=".SearchProvider"
            android:permission="kaskelotti_search"
            android:syncable="false">
            <path-permission android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>
        <meta-data android:name="android.app.default_searchable"
            android:value=".SearchActivity" />
    </application>

</manifest>